

<div class="ui form">
    <div class="grouped fields">

        <h4 class="ui horizontal divider header blue">
            <i class="tag icon"></i>
            Adapter
        </h4>
        <h3>Please choose your adapter.</h3>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2" checked="checked">
                <label>Once a week</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>2-3 times a week</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Once a day</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Twice a day</label>
            </div>
        </div>
    </div>
</div>