<div>
    <h4 class="ui horizontal divider header blue">
        <i class="tag icon"></i>
        Configs
    </h4>
    <div class="ui secondary pointing menu">
        <div class="active item">Config 0</div>
        <div class=" item">Config 1</div>
        <div class=" item">Config 2</div>
    </div>
    <div class="ui bottom attached active tab segment">
        <div class="ui form">
            <div class="field"><label for="">Name</label>

                    <div class="eight wide field">
                        <input type="text" placeholder="Name">
                    </div>

            </div>
            <div class="field">
                <label>IP Address</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>IP Address</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>IP Address</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>IP Address</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>IP Address</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                    <div class="four wide field">
                        <input type="number" maxlength="3" placeholder="">
                    </div>
                </div>
            </div>

            <div class="ui toggle checkbox">
                <label>DHCP</label>
                <input type="checkbox" name="public">
            </div>
            <div class="ui right aligned grid">
                <div class="right floated wide column">
                        <div class="ui submit button  olive ">Submit</div>
                </div>
            </div>

        </div>
    </div>

</div>

